<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/header :: head(~{::title})">
  <title>标签管理</title>
</head>
<body>

<!--导航-->
<nav th:replace="admin/common/nav :: menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
</nav>

<div class="ui attached pointing menu">
  <div class="ui container">
    <div class="right menu">
      <a href="#" th:href="@{/admin/tags/input}" class="item">编辑</a>
      <a href="#" th:href="@{/admin/tags}" class="teal active item">列表</a>
    </div>
  </div>
</div>

<!--中间内容-->
<div  class="m-container-small m-padded-tb-big">
  <div class="ui container">
    <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
      <i class="close icon"></i>
      <div class="header">提示：</div>
      <p th:text="${message}">恭喜，操作成功！</p>
    </div>
    <table class="ui compact teal table">
      <thead>
        <tr>
          <th></th>
          <th>名称</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="tag,iterStat : ${page.records}">
          <td th:text="${iterStat.count}">1</td>
          <td th:text="${tag.name}">刻意练习清单</td>
          <td>
            <a th:href="@{/admin/tags/{id}/input(id=${tag.id})}" class="ui mini teal basic button">编辑</a>
            <a th:href="@{/admin/tags/{id}/delete(id=${tag.id})}" class="ui mini red basic button">删除</a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="6" >
            <div class="ui mini pagination menu" th:if="${page.total > page.size}">
              <a th:href="@{/admin/tags(pageNum=${page.current}-1)}" class="  item" th:unless="${page.current==1}">上一页</a>
              <a th:href="@{/admin/tags(pageNum=${page.current}+1)}" class=" item" th:unless="${page.current*page.size >= page.total }">下一页</a>
            </div>
            <a th:href="@{/admin/tags/input}"  class="ui mini right floated teal basic button">新增</a>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<br>
<br>

<!--底部footer-->
<footer th:replace="common/footer :: footer" class="ui inverted vertical segment m-padded-tb-massive">
</footer>
<th:block th:replace="admin/common/scripts :: script"></th:block>

<script>
  $('.ui.dropdown').dropdown({
    on : 'hover'
  });

  //消息提示关闭初始化
  $('.message .close')
    .on('click', function () {
      $(this)
        .closest('.message')
        .transition('fade');
    });
</script>
</body>
</html>