<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dg.myblog.dao.TypeMapper">
  <resultMap id="baseResultMap" type="com.dg.myblog.model.entity.Type">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  
  <select id="selectByTop" resultMap="baseResultMap">
    select t.id, t.name
    from t_type t
    order by (
      select count(b.type_id)
      from t_blog b
      where b.published = 1 and b.type_id= t.id
    ) desc
    limit #{size}
  </select>
</mapper>